<div id="footer">
    <div id="real-footer">
        <div class="footer-column">
            <p>
                <b>Lab Space</b><br>
                ICICS/CS Building, X Wing, Room X660<br>
                Vancouver, British Columbia<br>
                Canada<br>
            </p>
        </div>
        <div class="footer-column">
            <p>
                <b>Links</b><br>
                <a href="https://www.cs.ubc.ca/labs/imager/imager.php">Imager</a><br>
                <a href="https://www.cs.ubc.ca">Computer Science Department</a><br>
                <a href="https://www.ubc.ca">The University of British Columbia</a><br>
            </p>
        </div>
    </div>
</div>