<div id="header">
    <div class="logo-wrapper">
        <a class="logo-link" href="http://www.ubc.ca">
            <img class="logo" src="assets/images/ubc-logo.png">
        </a>
    </div>
    
    <div id="title">
        <h1><b>InfoVis Group</b></h1>
    </div>

    <div id="navigation">
        {% for item in site.data.navigation %}
            {% if item.name == page.title %}
            <a class="navigation-item underlined" href="{{ item.link | relative_url }}">
            {% else %}
            <a class="navigation-item" href="{{ item.link | relative_url }}">
            {% endif %}
                {{ item.name }}
            </a>
        {% endfor %}
    </div>
</div>

