---
layout: layout
title: Home
---
<div id="home-header">
    <h1>
        Home
    </h1>
    
    <p>
        The information visualization group is part of <a href="http://www.ubc.ca">UBC</a>'s <a href="http://www.cs.ubc.ca">Computer Science Department</a>.
    </p>
</div>

<div id="home-cards">
    <div class="home-card">
        <h2>Who are we?</h2>
        <p>We are group of faculty members, post-docs, graduate students, and undergraduate students with an interest in information visualization, broadly construed.</p>
        <a href="people.html">Read more</a>
    </div>
    
    <div class="home-card">
        <h2>What do we do?</h2>
        <p>We conduct research and publish it in conferences and journals.</p>
        <a href="publications.html">Read more</a>
    </div>
    
    <div class="home-card">
        <h2>What have we created?</h2>
        <p>We have created many videos and pieces of software that are available to the public.</p>
        <a href="resources.html">Read more</a>
    </div>
</div>

<h2>Recent News (<a href="news.html">see all news</a>)</h2>
<hr>
<br>

<div id="recent-news">
    {% for item in site.data.news %}
        {% if forloop.index < 6 %}
            <div class="recent-news-item">
                {% if item.link == "" %}
                <img src="{{ item.image }}">
                {% elsif item.link != "" %}
                    <a href="{{ item.link }}">
                        <img src="{{ item.image }}">
                    </a>
                {% endif %}
                <p class="title">{{ item.title }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

<br style="clear: both">

