---
layout: layout
title: People
---

<br><br><br>
<h2>Current Members</h2>
<hr>
<br>

<div class="members">
    {% for item in site.data.people %}
        {% if item.status == "current" %}
            <div class="member">
                {% if item.link == "" %}
                <img src="{{ item.image }}">
                {% elsif item.link != "" %}
                <a href="{{ item.link }}">
                    <img src="{{ item.image }}">
                </a>
                {% endif %}
                <p class="member-name">{{ item.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


<h2>Alumni</h2>
<hr>
<br>


<h3>Postdocs</h2>
<hr>
<br>

<div class="members">
    {% for item in site.data.people %}
        {% if item.status == "past" and item.position == "postdoc" %}
            <div class="member">
                {% if item.link == "" %}
                <img src="{{ item.image }}">
                {% elsif item.link != "" %}
                <a href="{{ item.link }}">
                    <img src="{{ item.image }}">
                </a>
                {% endif %}
                <p class="member-name">{{ item.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


<h3>PhD Students</h2>
<hr>
<br>

<div class="members">
    {% for item in site.data.people %}
        {% if item.status == "past" and item.position == "phd" %}
            <div class="member">
                {% if item.link == "" %}
                <img src="{{ item.image }}">
                {% elsif item.link != "" %}
                <a href="{{ item.link }}">
                    <img src="{{ item.image }}">
                </a>
                {% endif %}
                <p class="member-name">{{ item.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


<h3>MSc Students</h2>
<hr>
<br>

<div class="members">
    {% for item in site.data.people %}
        {% if item.status == "past" and item.position == "msc" %}
            <div class="member">
                {% if item.link == "" %}
                <img src="{{ item.image }}">
                {% elsif item.link != "" %}
                <a href="{{ item.link }}">
                    <img src="{{ item.image }}">
                </a>
                {% endif %}
                <p class="member-name">{{ item.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>


<h3>Undergraduate Students</h2>
<hr>
<br>

<div class="members">
    {% for item in site.data.people %}
        {% if item.status == "past" and item.position == "ug" %}
            <div class="member">
                {% if item.link == "" %}
                <img src="{{ item.image }}">
                {% elsif item.link != "" %}
                <a href="{{ item.link }}">
                    <img src="{{ item.image }}">
                </a>
                {% endif %}
                <p class="member-name">{{ item.name }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>