<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Software: InfoVis @ UBC CS</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="content-wrapper">

        <!--#include virtual="header.html" -->
    <div id="content">
        <h2>
        software
        </h2>
        <!--List of publications-->

        <div class="pub-one-column" id="tlc">
            <div class="thumb">
                <a href="http://paperquest.github.io/"><img src="http://www.antoineponsard.com/img/paperquest/paperquest-icon.png "  width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://paperquest.github.io/">PaperQuest</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.antoineponsard.com/" target="_blank">Antoine Ponsard</a> and <a href="https://twitter.com/paxmangara" target="_blank">Fransisco "Pax" Escalona</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released May 2016
                    </span>
                </p>
                <p class="abstract">
                    A Visualization tool to support literature review.
                </p>
            </div>
        </div>


        <div class="pub-one-column" id="tlc">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/labs/imager/tr/2015/SEQIT/"><img src="http://www.cs.ubc.ca/labs/imager/tr/2015/SEQIT/figures/fig-thumbnail.png"  width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/labs/imager/tr/2015/SEQIT/">SEQIT</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://mikewu.net/" target="_blank">Mike Wu</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released December 2014
                    </span>
                </p>
                <p class="abstract">
                    A visualization system designed for sequence analysis of eye tracking data.
                </p>
            </div>
        </div>


        <div class="pub-one-column" id="tlc">
            <div class="thumb">
                <a href="software/TimeLineCurator/"><img src="software/TimeLineCurator/figures/tlc-thumb.png"  width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="software/TimeLineCurator/">TimeLineCurator</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.johannafulda.de/" target="_blank">Johanna Fulda</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released February 2015
                    </span>
                </p>
                <p class="abstract">
                    Browser-based vis tool for curating timelines generated from freeform text.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="tlc">
            <div class="thumb">
                <a href="https://mattbrehmer.shinyapps.io/PortfolioSandbox/"><img src="images/sandbox-thumb.png"  width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="https://mattbrehmer.shinyapps.io/PortfolioSandbox/">Portfolio Visualization Sandbox</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://mattbrehmer.github.io" target="_blank">Matthew Brehmer</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released 2015
                    </span>
                </p>
                <p class="abstract">
                     A R/Shiny sandbox environment for creating visualization sketches relating to the energy use of a portfolio of buildings.
                </p>
                <p class="abstract">
                     [<a href="http://github.com/mattbrehmer/PortfolioSandbox" target="_blank">github repository</a>][<a href="http://www.cs.ubc.ca/labs/imager/tr/2015/MatchesMismatchesMethods/" target="_blank">project page</a>]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="apq">
            <div class="thumb">
                <a href="https://github.com/sfingram/apq-qsne"><img src="images/pub-thumbs/2014-qsne-thumb.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="https://github.com/sfingram/apq-qsne">APQ + QSNE</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.ubc.ca/~sfingram/" target="_blank">Stephen Ingram</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released July 2014
                    </span>
                </p>
                <p class="abstract">
                    All-Pairs Query, or APQ, nearest-neighbor algorithm and the Q-SNE, dimensionality reduction algorithm.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="overview">
            <div class="thumb">
                <a href="https://www.overviewproject.org/"><img src="images/pub-thumbs/2014-overview-thumb.png"  width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="https://www.overviewproject.org/">Overview</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://jonathanstray.com/"
			     target="_blank">Jonathan Stray</a>,
		       <a href="http://www.linkedin.com/in/jkarlsson"
			  target="_blank">Jonas Karlsson</a>,
		       <a href="http://adamhooper.com/" target="_blank">Adam
								      Hooper</a>,
								      and
								      <a href="/~sfingram"
								      target="blank">Stephen Ingram</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released March 2012, current version released September 2013
                    </span>
                </p>
                <p class="abstract">
                    Browser-based vis tool for investigating large text document collections.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="variantview">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/labs/imager/tr/2013/VariantView/VariantViewSoftware/"><img src="http://www.cs.ubc.ca/group/infovis/images/pub-thumbs/2013-variant-view-thumb-sm.png"  width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/labs/imager/tr/2013/VariantView/VariantViewSoftware/">Variant View</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.joelferstay.com/" target="_blank">Joel Ferstay</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released August 2013
                    </span>
                </p>
                <p class="abstract">
                    Vis tool for analyzing genetic sequence variants.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="glint">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/labs/imager/tr/2012/Glint/#source"><img src="http://www.cs.ubc.ca/group/infovis/images/pub-thumbs/2013-glint-thumb.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/labs/imager/tr/2012/Glint/#source">Glint</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.ubc.ca/~sfingram/" target="_blank">Stephen Ingram</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released December 2012
                    </span>
                </p>
                <p class="abstract">
                    Glint is designed to automatically minimize the total number of distances computed by progressively computing a more and more densely sampled approximation of the distance matrix.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="vismon">
            <div class="thumb">
                <a href="http://www.vismon.org/download.html"><img src="images/swpix/vismon-thumb.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.vismon.org/download.html">Vismon</a>
                </p>
                <p>
                    <span class="authors">
                       by Maryam Booshehrian
                    </span>
                    <br/>
                    <span class="venue">
                        Version 1.0 released January 2010, latest version 2.5.1 released August 2012
                    </span>
                </p>
                <p class="abstract">
                    Visual tool for fisheries management data analysis.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="multeesum">
            <div class="thumb">
                <a href="http://www.multeesum.org/"><img src="images/swpix/multeesum-overview.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.utah.edu/~miriah/multeesum/">MulteeSum</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.utah.edu/~miriah/" target="_blank">Miriah Meyer</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released October 2010
                    </span>
                </p>
                <p class="abstract">
                    Exploration tool that supports the comparison of multiple gene expression data sets defined both spatially and temporally.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="pathline">
            <div class="thumb">
                <a href="http://www.cs.utah.edu/~miriah/pathline/Overview.html"><img src="images/swpix/pathline_thumbnail_half.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.utah.edu/~miriah/pathline/Overview.html">Pathline</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.utah.edu/~miriah/" target="_blank">Miriah Meyer</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released June 2010
                    </span>
                </p>
                <p class="abstract">
                    Tool that visualizes temporal gene expression data over multiple molecular pathways and across multiple species.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="dimstiller">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/~sfingram/dimstiller_readme.html"><img src="images/swpix/dimstiller_screenshot.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/~sfingram/dimstiller_readme.html">DimStiller</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.ubc.ca/~sfingram/" target="_blank">Stephen Ingram</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released March 2010
                    </span>
                </p>
                <p class="abstract">
                    Visual tool for dimensional analysis and reduction.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="mizbee">
            <div class="thumb">
                <a href="http://www.cs.utah.edu/~miriah/mizbee/Overview.html"><img src="images/swpix/mizbee_thumbnail_half.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.utah.edu/~miriah/mizbee/Overview.html">Mizbee</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.utah.edu/~miriah/" target="_blank">Miriah Meyer</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released December 2009
                    </span>
                </p>
                <p class="abstract">
                    Browser that enables analysis of comparative genomics data through visualization across multiple scales.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="glimmer">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/~sfingram/glimmer/"><img src="http://www.cs.ubc.ca/labs/imager/tr/2008/glimmer/figs/docs_glimmer.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/~sfingram/glimmer/">Glimmer</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://www.cs.ubc.ca/~sfingram/" target="_blank">Stephen Ingram</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released July 2008
                    </span>
                </p>
                <p class="abstract">
                    GPU and CPU versions of fast and robust multilevel multidimensional scaling algorithm.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="grouse">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/labs/imager/tr/2008/Archambault_GrouseFlocks_TVCG/#source"><img src="http://www.cs.ubc.ca/labs/imager/tr/2008/Archambault_GrouseFlocks_TVCG/MooreComposite.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/labs/imager/tr/2008/Archambault_GrouseFlocks_TVCG/#source">GrouseFlocks</a>, <a href="http://www.cs.ubc.ca/labs/imager/tr/2007/Archambault_Grouse_EuroVis/#source">Grouse</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://cs.swansea.ac.uk/~csdarchambault/" target="_blank">Daniel Archambault</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released July 2008
                    </span>
                </p>
                <p class="abstract">
                    Multilevel graph hierarchy exploration tools, built on the Tulip framework.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="spf">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/labs/imager/tr/2006/Archambault_SPF_InfoVis2006/#source"><img src="http://www.cs.ubc.ca/~tmm/pix/chesFig.small.crop.jpg" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/labs/imager/tr/2006/Archambault_SPF_InfoVis2006/#source">SPF</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://cs.swansea.ac.uk/~csdarchambault/" target="_blank">Daniel Archambault</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released May 2008
                    </span>
                </p>
                <p class="abstract">
                    Quasi-tree graph layout, built on the Tulip framework.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="topolayout">
            <div class="thumb">
                <a href="http://www.cs.ubc.ca/labs/imager/tr/2006/Archambault_TopoLayout_TVCG/#source"><img src="http://www.cs.ubc.ca/~tmm/pix/table2.small.crop.jpg" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.cs.ubc.ca/labs/imager/tr/2006/Archambault_TopoLayout_TVCG/#source">TopoLayout</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://cs.swansea.ac.uk/~csdarchambault/" target="_blank">Daniel Archambault</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Released May 2008
                    </span>
                </p>
                <p class="abstract">
                    Feature-based multilevel graph layout, built on the Tulip framework.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="cerebral">
            <div class="thumb">
                <a href="http://www.pathogenomics.ca/cerebral/"><img src="http://www.cs.ubc.ca/labs/imager/tr/2008/cerebral/figs/hour4compare.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.pathogenomics.ca/cerebral/">Cerebral</a>
                </p>
                <p>
                    <span class="authors">
                       by Aaron Barsky
                    </span>
                    <br/>
                    <span class="venue">
                        Version 2.0 (compatible with Cytoscape 2.6) released May 2008. Version 2.8.2 (compatible with Cytoscape 2.8.2) released January 2012
                    </span>
                </p>
                <p class="abstract">
                    Cytoscape plugin for compartmentalized network layout, for instance using subcellular localization annotations, and comparing quantitative data from multiple experiments.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="treejuxt">
            <div class="thumb">
                <a href="http://olduvai.sf.net/tj"><img src="http://www.cs.ubc.ca/labs/imager/tr/2003/tj/smallfigs/teaser.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://olduvai.sf.net/tj">TreeJuxtaposer</a>
                </p>
                <p>
                    <span class="authors">
                       by James Slack, Kristian Hildebrand, <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a>, Francois Guimbretiere, Li Zhang, and Yunhung Zhou
                    </span>
                    <br/>
                    <span class="venue">
                        Version 2.1 released Oct 2007
                    </span>
                </p>
                <p class="abstract">
                    TJ is open-source software for browsing and comparing trees. It uses accordion drawing, an information visualization technique that features rubber-sheet navigation and the guaranteed visibility of marked areas. It was specifically designed for biologists who want to compare phylogenetic or taxonomic trees, but can work for any hierarchies. It can handle trees of up to several million nodes.
                </p>
                <p>
                    [<a href="http://olduvai.sf.net/tj/download.shtml">Download source or binaries (Mac, Windows, Linux)</a>]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="seqjuxt">
            <div class="thumb">
                <a href="http://olduvai.sourceforge.net/sj/index.shtml"><img src="http://www.cs.ubc.ca/~tmm/pix/sj.small.png" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://olduvai.sourceforge.net/sj/index.shtml">SequenceJuxtaposer</a>
                </p>
                <p>
                    <span class="authors">
                       by James Slack and Kristian Hildebrand
                    </span>
                    <br/>
                    <span class="venue">
                        Version 1.2 released Feb 2005
                    </span>
                </p>
                <p class="abstract">
                    SJ is open-source software for browsing and comparing gene sequences, using accordion drawing.
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="hyp">
            <div class="thumb">
                <a href="http://graphics.stanford.edu/~munzner/h3"><img src="http://www.cs.ubc.ca/~tmm/munznerpix/hypviewer.gif" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://graphics.stanford.edu/~munzner/h3">HypViewer</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Version 1.1.2 released Sep 2003
                    </span>
                </p>
                <p class="abstract">
                    HypViewer is the 3D hyperbolic module used in Site Manager below, now available for free noncommercial use. Contact SGI for licensing for commercial use.
                </p>
                <p>
                    [<a href="http://olduvai.sf.net/tj/download.shtml">Download source or binaries (Linux, Irix, Windows)</a>]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="sitemanager">
            <div class="thumb">
                <a href="http://www.sgi.com/software/sitemgr.html"><img src="http://www.cs.ubc.ca/~tmm/munznerpix/sitemgr.gif" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.sgi.com/software/sitemgr.html">SiteManager</a>
                </p>
                <p>
                    <span class="authors">
                       by Alan Braverman, Greg Ferguson, and <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a>
                    </span>
                    <br/>
                    <span class="venue">
                        Version 1.1 released 1998
                    </span>
                </p>
                <p class="abstract">
                     Site Manager was free software from Silicon Graphics for webmasters and content creators. It included a 3D hyperbolic view of the link structure of the target web site. That module was an implementation of the layout described in Tamara's <a href="http://graphics.stanford.edu/~munzner/papers/h3" target="_blank">InfoVis 97 paper</a>. Version 1.1 includes the guaranteed frame rate drawing algorithm described in a <a href="http://graphics.stanford.edu/~munzner/papers/h3draw" target="_blank">Graph Drawing 98 paper</a>.
                </p>
                <p>
                    [(No longer available; was packaged with Irix 6.)
                    [<a href="http://techpubs.sgi.com/library/tpl/cgi-bin/getdoc.cgi?coll=0650&db=bks&srch=&fname=/SGI_EndUser/SiteMgr_UG/sgi_html/front.html" target="_blank">Site Manager User's Guide Documentation</a> still available.]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="geomview">
            <div class="thumb">
                <a href="http://www.geomview.org/"><img src="http://www.geomview.org/images/orrery.gif" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.geomview.org/">GeomView</a>
                </p>
                <p>
                    <span class="authors">
                       by Stuart Levy, <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a>, Mark Phillips, and others
                    </span>
                    <br/>
                    <span class="venue">
                        Version 1.9.5 released March 2014, developeed between 1992 and 1996
                    </span>
                </p>
                <p class="abstract">
                    Tamara was one of the core team responsible for design, implementation, documentation, distribution, and maintenance of Geomview, a public domain 3D interactive visualization package with over one thousand registered users. They encourage people to let them know how they use their tools, and have heard back from hundreds of them in a wide variety of domains, including topology, computational geometry, computer graphics, robotics, medical imaging, nuclear physics, mechanical engineering, civil engineering, biomechanics, spacecraft design, computational electromagnetics, and seismology.
                </p>
                <p>
                    [<a href="http://www.geomview.org/download">Download</a>]
                    [<a href="http://www.geom.uiuc.edu/software/download/geomview.html" target="_blank">Download</a> previous versions from <a href="http://www.geom.uiuc.edu/software/geomview" target="_blank">former Geometry Center home</a>]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="triangletiling">
            <div class="thumb">
                <a href="http://www.geom.uiuc.edu/projects/visualization/museum.html"><img src="http://www.geom.uiuc.edu/projects/visualization/museum.gif" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.geom.uiuc.edu/projects/visualization/museum.html">Triangle Tiling</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a>, Charlie Gunn, Stuart Levy, and Olaf Holt
                    </span>
                    <br/>
                    <span class="venue">
                        Released 1996
                    </span>
                </p>
                <p class="abstract">
                    The Triangle Tiling museum exhibit allows people to explore the connections between symmetry groups, tiling, the Platonic and Archimedean solids, and non-Euclidean geometry through interactive 3D graphics. Tamara adapted research software originally written by Charlie Gunn for museum use with Stuart Levy and Olaf Holt. The program features mathematical concepts such as the relationship between Platonic and Archimedean solids, duality, and spherical geometry. The adaptation was done in collaboration with the Science Museum of Minnesota, where it is on exhibit. The software was also shown at "The Edge", the interactive installation showcase at SIGGRAPH 94. There's an <a href="http://www.geom.uiuc.edu/docs/forum/museum/museum.html" target="_blank">article</a> about it in the Geometry Forum archives.
                </p>
                <p>
                    [<a href="ftp://geom.uiuc.edu/priv/slevy/tritile-irix5.tar.gz">OpenGL SGI binaries</a>]
                    [<a href="http://www.geom.uiuc.edu/software/download/KaleidoTile.html">IrisGL SGI binaries (Irix 4.x or earlier)</a>]
                    [<a href="http://www.geometrygames.org/KaleidoTile">Mac and Windows binaries ported by Jeff Weeks, who added additional functionality and named it KaleidoTile.</a>]
                    [<a href="http://www.fc.up.pt/atractor/software/fr-soft-e.htm" target="_blank">Linux port</a> created by Pedro Ribeiro for the Atractor exhibit in Lisbon. This version is also multilingual: you can switch the interface between English, French, German, Italian, Portuguese, and Spanish. (Note: if you have troubles running on your machine, try downloading <a href="http://www.geomview.org/download/" target="_blank">Geomview 1.8</a> and substituting that bin/gvx for the one in this distribution.)]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="caidants">
            <div class="thumb">
                <a href="http://www.caida.org/tools/utilities/others/pipeline/"><img src="http://www.cs.ubc.ca/~tmm/munznerpix/caidants.jpg" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.caida.org/tools/utilities/others/pipeline/">Caidants</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a> and Eric Hoffman
                    </span>
                    <br/>
                    <span class="venue">
                        Released October 1996
                    </span>
                </p>
                <p class="abstract">
                The CAIDA toolset for network drawing. Some aspects of it are described in a <a href="http://graphics.stanford.edu/~munzner/papers/mbone">paper</a> on <a href="http://www.nlanr.net/Viz/Mbone">visualizing the MBone</a>. These tools were used to create a series of short videos, including the <a href="videos.html">Planet Multicast</a> video. The toolkit can also be used to create Web pages like the <a href="http://www.nlanr.net/Viz/Mbone/daily.html">MBone</a> or the <a href="http://www.nlanr.net/Cache/daily.html">NLANR caching hierarchy</a> daily pages, which contain automatically generated 3D and 2D
                snapshots of the day's data.
                </p>
                <p>
                    [<a href="http://www.caida.org/tools/utilities/others/pipeline/">Download if you're curious, but this software is not currently supported.</a>]
                </p>
            </div>
        </div>

        <div class="pub-one-column" id="weboogl">
            <div class="thumb">
                <a href="http://www.geom.uiuc.edu/locate/weboogl/"><img src="http://www.cs.ubc.ca/~tmm/munznerpix/full.gif" width="200"></a>
            </div>
            <div class="text">
                <p class="title">
                    <a href="http://www.geom.uiuc.edu/locate/weboogl/">WebOOGL</a>
                </p>
                <p>
                    <span class="authors">
                       by <a href="http://people.cs.ubc.ca/~tmm/" target="_blank">Tamara Munzner</a>, Daeron Meyer, Paul Burchard, and Stuart Levy
                    </span>
                    <br/>
                    <span class="venue">
                        Released 1994
                    </span>
                </p>
                <p class="abstract">
                     Tamara was involved in the VRML 1.0 standards process starting in 1994, when integrating 3D with the Web was a hot new topic. The WebOOGL software was a proof of concept to back our format proposal. After SGI Inventor-based proposal won the vote (ours came in second), we retro-fitted the WebOOGL software into a quasi-compliant VRML 1.0 viewer. Development has not continued since Tamara left the Geometry Center in 1995, and it is rather unlikely that any 2.0 support would ever be added. Tamara's <a href="http://www.geom.uiuc.edu/software/weboogl/zoo/" target="_blank">mathematical zoo</a> page has seen a lot of traffic since it was part of the original content pages highlighted during the first big VRML browser release in March 1995. It contains files in both VRML and the WebOOGL native 3D format.
                </p>
                <p>
                    [<a href="http://www.geom.uiuc.edu/software/download/weboogl.html">Download if you're curious, but this software is not currently supported.</a>]
                </p>
            </div>
        </div>

    <!-- Created: Mon Sep  8 2014 -->
    <!-- hhmts start -->
    Last modified: Feb 18 2015 by <a href="http://mattbrehmer.github.io/proj/visdc-poster.pdf">Matt Brehmer</a>
    <!-- hhmts end -->

</body>
