

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
}

a {
    text-decoration: none;
}

#header {
    width: 30%;
    margin-left: 35%;

    margin-top: 20px;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.logo-wrapper {
    height: 30px;
    position: relative;
    margin: auto;
    margin-right: 0%;
    flex: 1;
}

.logo-link {
    height: 100%;
    margin: auto;
    position: relative;
}

.logo {
    height: 100%;
}

#title {
    flex: 2;
    font-size: 12px;
}

#title h1 {
    margin: 0;
}

#navigation {
    width: 100%;
    height: 100%;
    flex: 5;
    display: flex;
    justify-content: space-evenly;
}

.navigation-item {
    margin: auto;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: #111111;
    margin: 4px 10px 0 10px;
    border-bottom: 1px solid transparent;
    transition: color 0.15s ease-in-out, border 0.15s ease-in-out;
}

.navigation-item.underlined {
    color:#600;
    border-bottom: 1px solid #600;
}

.navigation-item:hover {
    color:#600;
    border-bottom: 1px solid #600;
    transition: color 0.15s ease-in-out, border 0.15s ease-in-out;
}

#content-wrapper {
    width: 30%;
    margin-left: 35%;
}

#home-header {
    margin: 20px 0 5px 0;
    padding: 5px 0 5px 0;
}

#home-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 10px;
}

.home-card {
    flex: 1;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 20px;
}

#recent-news {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}

.recent-news-item {
    width: 100%;
}

.recent-news-item a img {
    width: 100%;
}

.recent-news-item img {
    width: 100%;
}

#footer {
    position: relative;
    background-color: #eeeeee;
    width: 100%;
}

#real-footer {
    width: 30%;
    margin-left: 35%;
    display: flex;
    justify-content: center;
}

.footer-column {
    width: 100%;
    flex: 1;
    margin: auto;
    position: relative;
}

@media screen and (max-width: 2000px) {
    #header {
        width: 50%;
        margin-left: 25%;
    }

    #content-wrapper {
        width: 50%;
        margin-left: 25%;
    }

    #real-footer {
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 1400px) {
    #header {
        width: 80%;
        margin-left: 10%;
        flex-wrap: wrap;
        height: 40px;
    }

    .logo-wrapper {
        margin: auto;
    }

    #content-wrapper {
        width: 80%;
        margin-left: 10%;
    }

    #home-header {
        padding: 20px 10% 20px 10%;
    }

    #home-cards {
        flex-wrap: wrap;
    }

    #recent-news {  
        grid-template-columns: repeat(3, 1fr);
        gap: 5%;
    }

    #footer {
        margin-top: 100px;
    }

    #real-footer {
        flex-wrap: wrap;
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 800px) {

    #header {
        height: 40px;
        width: 90%;
        margin-left: 5%;
    }

    #content-wrapper {
        width: 90%;
        margin-left: 5%;
    }

    #home-header {
        padding: 20px 5% 20px 5%;
    }

    #recent-news {  
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
    }

    #footer {
        margin-top: 380px;
    }

    #real-footer {
        width: 90%;
        margin-left: 5%;
    }
}
  